<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="EasyFrameWork" version="1.0.7.2" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net452" />
</packages>