<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="QCloudStorage" type="Easy.Storage.QCloud.Configuration,Easy.Storage.QCloud" />
  </configSections>
  <QCloudStorage bucketName="zkeasoft" appId="10041459" secretId="AKIDZoIiKWLWjX4zWvgvNPn0UiFIu0rYPY2O" secretKey="MhRUTuZ9SrEQkDwYCshZRSEBRiUxaosT" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
